/* Base */ 

body {
	font-family: sans-serif;
	color: #000000;
}

/* Grid styles */

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* Utility */

.none {
	display: none !important;
}

/* Sticky Footer */

.footer {
	margin-top: auto; /* sticky footer */
}
